@font-face {
	font-family: 'Marker Felt Wide Plain [Rus by';
	src: url('../fonts/marker_felt_wide_plain_rus_by.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/marker_felt_wide_plain_rus_by.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/marker_felt_wide_plain_rus_by.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/marker_felt_wide_plain_rus_by.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/marker_felt_wide_plain_rus_by.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/marker_felt_wide_plain_rus_by.svg#marker_felt_wide_plain_rus_by') format('svg'); /* Chrome < 4, Legacy iOS */
}